In [184]:
import pandas as pd
        
investidor10_acoes = pd.read_csv('investidor10_acoes_1.csv', sep = ',')

In [185]:
investidor10_acoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15276 entries, 0 to 15275
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  15276 non-null  object
 1   Atual       15276 non-null  object
 2   2023        13512 non-null  object
 3   2022        14496 non-null  object
 4   2021        14916 non-null  object
 5   2020        14346 non-null  object
 6   2019        13926 non-null  object
 7   acao        15276 non-null  object
dtypes: object(8)
memory usage: 954.9+ KB

In [186]:
# renomeando unnamed para indicadores
investidor10_acoes.rename(columns={'Unnamed: 0': 'indicadores'}, inplace=True)

In [187]:
investidor10_acoes.nunique()

indicadores      30
Atual          5014
2023           4698
2022           4962
2021           5201
2020           5217
2019           4905
acao            510
dtype: int64

In [188]:
investidor10_acoes.head()

,indicadores,Atual,2023,2022,2021,2020,2019,acao
0,P/L,"-76,10","-106,74","-40,58","90,33","470,70","95,36",mglu3
1,P/RECEITA (PSR),"0,31","0,43","0,54","1,51","6,32","4,43",mglu3
2,P/VP,"1,18","1,66","1,90","4,74","25,17","11,65",mglu3
3,DIVIDEND YIELD (DY),-,"0,00%","0,00%","0,21%","0,20%","0,33%",mglu3
4,PAYOUT,-,"0,00%","-22,95%","32,91%","96,01%","24,06%",mglu3

In [189]:
# tratando '-' como NaN
investidor10_acoes = investidor10_acoes.replace('-', pd.NA)

In [190]:
investidor10_acoes.head()

,indicadores,Atual,2023,2022,2021,2020,2019,acao
0,P/L,"-76,10","-106,74","-40,58","90,33","470,70","95,36",mglu3
1,P/RECEITA (PSR),"0,31","0,43","0,54","1,51","6,32","4,43",mglu3
2,P/VP,"1,18","1,66","1,90","4,74","25,17","11,65",mglu3
3,DIVIDEND YIELD (DY),<NA>,"0,00%","0,00%","0,21%","0,20%","0,33%",mglu3
4,PAYOUT,<NA>,"0,00%","-22,95%","32,91%","96,01%","24,06%",mglu3

In [191]:
# tratando NaN como 0
investidor10_acoes = investidor10_acoes.fillna('0')

In [192]:
investidor10_acoes.head()

,indicadores,Atual,2023,2022,2021,2020,2019,acao
0,P/L,"-76,10","-106,74","-40,58","90,33","470,70","95,36",mglu3
1,P/RECEITA (PSR),"0,31","0,43","0,54","1,51","6,32","4,43",mglu3
2,P/VP,"1,18","1,66","1,90","4,74","25,17","11,65",mglu3
3,DIVIDEND YIELD (DY),0,"0,00%","0,00%","0,21%","0,20%","0,33%",mglu3
4,PAYOUT,0,"0,00%","-22,95%","32,91%","96,01%","24,06%",mglu3

In [193]:
investidor10_acoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15276 entries, 0 to 15275
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   indicadores  15276 non-null  object
 1   Atual        15276 non-null  object
 2   2023         15276 non-null  object
 3   2022         15276 non-null  object
 4   2021         15276 non-null  object
 5   2020         15276 non-null  object
 6   2019         15276 non-null  object
 7   acao         15276 non-null  object
dtypes: object(8)
memory usage: 954.9+ KB

In [194]:
for i in investidor10_acoes.columns[1:-1]:  # assuming 'acao' is the last column
    # Remove percentage signs
    investidor10_acoes[i] = investidor10_acoes[i].str.replace('%', '', regex=False)
    investidor10_acoes[i] = investidor10_acoes[i].apply(lambda x: '0' if x == '-' else x)
    investidor10_acoes[i] = investidor10_acoes[i].str.replace('.', '', regex=False)
        # Then, replace commas that are used as decimal separators with a period
    investidor10_acoes[i] = investidor10_acoes[i].str.replace(',', '.', regex=False)
investidor10_acoes.head(70)

            indicadores   Atual     2023    2022   2021    2020   2019   acao
0                   P/L  -76.10  -106.74  -40.58  90.33  470.70  95.36  mglu3
1       P/RECEITA (PSR)    0.31     0.43    0.54   1.51    6.32   4.43  mglu3
2                  P/VP    1.18     1.66    1.90   4.74   25.17  11.65  mglu3
3   DIVIDEND YIELD (DY)       0     0.00    0.00   0.21    0.20   0.33  mglu3
4                PAYOUT       0     0.00  -22.95  32.91   96.01  24.06  mglu3
..                  ...     ...      ...     ...    ...     ...    ...    ...
65       MARGEM LÍQUIDA   24.34    24.34   29.37  23.56    2.61  13.28  petr4
66         MARGEM BRUTA   52.72    52.72   52.10  48.52   45.56  40.40  petr4
67          MARGEM EBIT   36.98    36.98   45.89  46.58   18.24  27.19  petr4
68        MARGEM EBITDA   49.91    49.91   56.52  60.50   39.67  47.95  petr4
69            EV/EBITDA    3.02     2.84    1.57   2.39    6.50   2.58  petr4

[70 rows x 8 columns]

In [195]:
#transformando em float as colunas que são numéricas
for i in investidor10_acoes.columns[1:-1]:
    # achando caso tenha algum valor que não seja float
    for j in investidor10_acoes[i]:
        try:
            float(j)
        except:
            #achando o index do valor que não é float
            print( i, j, investidor10_acoes[i][investidor10_acoes[i] == j].index[0])
            break
    investidor10_acoes[i] = investidor10_acoes[i].astype(float)

In [196]:
investidor10_acoes.head()

           indicadores  Atual    2023   2022   2021    2020   2019   acao
0                  P/L -76.10 -106.74 -40.58  90.33  470.70  95.36  mglu3
1      P/RECEITA (PSR)   0.31    0.43   0.54   1.51    6.32   4.43  mglu3
2                 P/VP   1.18    1.66   1.90   4.74   25.17  11.65  mglu3
3  DIVIDEND YIELD (DY)   0.00    0.00   0.00   0.21    0.20   0.33  mglu3
4               PAYOUT   0.00    0.00 -22.95  32.91   96.01  24.06  mglu3

In [197]:
investidor10_acoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15276 entries, 0 to 15275
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   indicadores  15276 non-null  object
 1   Atual        15276 non-null  float64
 2   2023         15276 non-null  float64
 3   2022         15276 non-null  float64
 4   2021         15276 non-null  float64
 5   2020         15276 non-null  float64
 6   2019         15276 non-null  float64
 7   acao         15276 non-null  object
dtypes: float64(6), object(2)
memory usage: 954.9+ KB

In [ ]:
investidor10_acoes['mov_avg_2019_2022'] = investidor10_acoes[['2019','2020', '2021','2022']].mean(axis=1)
investidor10_acoes['mov_avg_2019_2023'] = investidor10_acoes[['2019','2020','2021','2022','2023']].mean(axis=1)
investidor10_acoes['mov_avg_2020_2023'] = investidor10_acoes[['2020','2021','2022','2023']].mean(axis=1)
investidor10_acoes['mov_avg_2021_2024'] = investidor10_acoes[['2021','2022','2023','Atual']].mean(axis=1)
# Now each indicator has a moving average column which can be used as a feature

In [199]:
investidor10_acoes.head(100)

,indicadores,Atual,2023,2022,2021,2020,2019,acao,mov_avg_2019_2022,mov_avg_2019_2023,mov_avg_2020_2023,mov_avg_2021_2024
0,P/L,-76.10,-106.74,-40.58,90.33,470.70,95.36,mglu3,153.9525,101.814,103.4275,-33.2725
1,P/RECEITA (PSR),0.31,0.43,0.54,1.51,6.32,4.43,mglu3,3.2000,2.646,2.2000,0.6975
2,P/VP,1.18,1.66,1.90,4.74,25.17,11.65,mglu3,10.8650,9.024,8.3675,2.3700
3,DIVIDEND YIELD (DY),0.00,0.00,0.00,0.21,0.20,0.33,mglu3,0.1850,0.148,0.1025,0.0525
4,PAYOUT,0.00,0.00,-22.95,32.91,96.01,24.06,mglu3,32.5075,26.006,26.4925,2.4900
...,...,...,...,...,...,...,...,...,...,...,...,...
95,MARGEM LÍQUIDA,-2.70,-2.70,-3.40,5.04,9.16,15.08,hapv3,6.4700,4.636,2.0250,-0.9400
96,MARGEM BRUTA,25.81,25.81,23.81,31.02,39.11,39.65,hapv3,33.3975,31.880,29.9375,26.6125
97,MARGEM EBIT,2.49,2.49,-0.66,5.50,14.81,18.34,hapv3,9.4975,8.096,5.5350,2.4550
98,MARGEM EBITDA,9.48,9.48,7.69,13.68,22.67,20.89,hapv3,16.2325,14.882,13.3800,10.0825
99,EV/EBITDA,12.19,14.66,24.88,62.00,60.39,83.67,hapv3,57.7350,49.120,40.4825,28.4325

In [203]:
pivot_df = investidor10_acoes.pivot_table(index='acao', columns='indicadores', values='mov_avg_2019_2022', aggfunc='first')
pivot_df.head()

indicadores,CAGR LUCROS 5 ANOS,CAGR RECEITAS 5 ANOS,DIVIDEND YIELD (DY),DÍVIDA BRUTA / PATRIMÔNIO,DÍVIDA LÍQUIDA / EBIT,DÍVIDA LÍQUIDA / EBITDA,EV/EBIT,EV/EBITDA,GIRO ATIVOS,LIQUIDEZ CORRENTE,...,P/L,P/RECEITA (PSR),P/VP,PASSIVOS / ATIVOS,PATRIMÔNIO / ATIVOS,PAYOUT,ROA,ROE,ROIC,VPA
acao,,,,,,,,,,,,,,,,,,,,,
aalr3,-10.3475,0.9350,0.3150,0.7250,-19.0675,5.085,-66.1725,20.2525,0.4200,0.8375,...,-71.8100,1.8325,1.7450,0.5550,0.4550,3.4000,-2.4550,-7.3575,1.8525,9.7175
abcb4,6.8750,16.8850,5.3350,NaN,NaN,NaN,-4.6875,0.5075,0.0975,2.6225,...,8.2200,1.0350,0.9350,0.8025,0.0975,73.1400,1.1925,12.0500,9.3050,19.2075
abev3,2.9425,7.9425,3.7325,0.0500,-0.7425,-0.545,14.5250,10.4775,0.5250,1.0200,...,20.4075,4.0025,3.4675,0.3950,0.5950,72.6300,10.4025,16.9025,20.1675,4.7575
aeri3,0.0000,0.0000,0.4575,1.7125,2.8175,2.430,30.7250,26.9225,0.8575,1.9275,...,57.1375,2.4825,5.9300,0.7050,0.2950,-6.9350,3.9050,14.7750,11.6650,0.6075
aesb3,0.0000,0.0000,0.8000,1.1025,8.0025,3.445,16.2550,6.4625,0.0900,0.9725,...,13.2600,1.1725,0.8475,0.3425,0.1250,18.2025,1.5125,4.4950,0.1825,3.1625

In [204]:
# rename index para acao
pivot_df = pivot_df.rename_axis("acao", axis=0)

In [208]:
# selecionando linhas com acao abcb4
investidor10_acoes[investidor10_acoes['acao'] == 'abcb4']

,indicadores,Atual,2023,2022,2021,2020,2019,acao,mov_avg_2019_2022,mov_avg_2019_2023,mov_avg_2020_2023,mov_avg_2021_2024
4542,P/L,6.72,7.33,5.72,6.58,11.53,9.05,abcb4,8.2200,8.042,7.7900,6.5875
4543,P/RECEITA (PSR),1.00,1.09,0.79,0.92,0.63,1.80,abcb4,1.0350,1.046,0.8575,0.9500
4544,P/VP,0.93,1.01,0.88,0.81,0.87,1.18,abcb4,0.9350,0.950,0.8925,0.9075
4545,DIVIDEND YIELD (DY),6.87,6.30,7.23,7.90,1.01,5.20,abcb4,5.3350,5.528,5.6100,7.0750
4546,PAYOUT,46.16,35.30,37.87,157.67,47.79,49.23,abcb4,73.1400,65.572,69.6575,69.2500
4547,MARGEM LÍQUIDA,14.88,14.88,13.84,13.96,5.46,19.89,abcb4,13.2875,13.606,12.0350,14.3900
4548,MARGEM BRUTA,24.69,24.69,23.98,23.86,1.96,27.17,abcb4,19.2425,20.332,18.6225,24.3050
4549,MARGEM EBIT,18.06,18.06,21.47,18.43,-1.80,23.88,abcb4,15.4950,16.008,14.0400,19.0050
4550,MARGEM EBITDA,0.00,0.00,0.00,0.00,-8.38,18.89,abcb4,2.6275,2.102,-2.0950,0.0000
4551,EV/EBITDA,0.00,0.00,0.00,0.00,-7.50,9.53,abcb4,0.5075,0.406,-1.8750,0.0000
4552,EV/EBIT,5.53,6.04,3.69,4.99,-34.97,7.54,abcb4,-4.6875,-2.542,-5.0625,5.0625
4553,P/EBITDA,0.00,0.00,0.00,0.00,-7.50,9.53,abcb4,0.5075,0.406,-1.8750,0.0000
4554,P/EBIT,5.53,6.04,3.69,4.99,-34.97,7.54,abcb4,-4.6875,-2.542,-5.0625,5.0625
4555,P/ATIVO,0.09,0.10,0.08,0.08,0.09,0.13,abcb4,0.0950,0.096,0.0875,0.0875
4556,P/CAP.GIRO,-4.30,-4.69,1.21,-6.33,0.86,0.30,abcb4,-0.9900,-1.730,-2.2375,-3.5275
4557,P/ATIVO CIRC LIQ,-0.12,-0.13,-0.09,-0.08,-0.10,-0.40,abcb4,-0.1675,-0.160,-0.1000,-0.1050
4558,VPA,24.78,24.78,21.97,19.71,18.10,17.05,abcb4,19.2075,20.322,21.1400,22.8100
4559,LPA,3.42,3.42,3.38,2.41,1.36,2.23,abcb4,2.3450,2.560,2.6425,3.1575
4560,GIRO ATIVOS,0.09,0.09,0.10,0.08,0.14,0.07,abcb4,0.0975,0.096,0.1025,0.0900
4561,ROE,13.79,13.79,15.37,12.24,7.51,13.08,abcb4,12.0500,12.398,12.2275,13.7975
4562,ROIC,14.66,14.66,22.70,15.70,-15.45,14.27,abcb4,9.3050,10.376,9.4025,16.9300
4563,ROA,1.35,1.35,1.41,1.16,0.74,1.46,abcb4,1.1925,1.224,1.1650,1.3175
4564,PATRIMÔNIO / ATIVOS,0.10,0.10,0.09,0.09,0.10,0.11,abcb4,0.0975,0.098,0.0950,0.0950
4565,PASSIVOS / ATIVOS,1.00,1.00,0.92,0.92,0.91,0.46,abcb4,0.8025,0.842,0.9375,0.9600
4566,LIQUIDEZ CORRENTE,0.91,0.91,3.58,0.72,3.23,2.96,abcb4,2.6225,2.280,2.1100,1.5300
4567,CAGR RECEITAS 5 ANOS,15.41,17.85,21.80,15.27,21.38,9.09,abcb4,16.8850,17.078,19.0750,17.5825
4568,CAGR LUCROS 5 ANOS,8.92,14.23,13.36,7.84,-3.68,9.98,abcb4,6.8750,8.346,7.9375,11.0875

In [207]:
#selecionando a ação petr4 para pegar a linha
pivot_df.loc['abcb4']

indicadores
CAGR LUCROS 5 ANOS            6.8750
CAGR RECEITAS 5 ANOS         16.8850
DIVIDEND YIELD (DY)           5.3350
DÍVIDA BRUTA / PATRIMÔNIO        NaN
DÍVIDA LÍQUIDA / EBIT            NaN
DÍVIDA LÍQUIDA / EBITDA          NaN
EV/EBIT                      -4.6875
EV/EBITDA                     0.5075
GIRO ATIVOS                   0.0975
LIQUIDEZ CORRENTE             2.6225
LPA                           2.3450
MARGEM BRUTA                 19.2425
MARGEM EBIT                  15.4950
MARGEM EBITDA                 2.6275
MARGEM LÍQUIDA               13.2875
P/ATIVO                       0.0950
P/ATIVO CIRC LIQ             -0.1675
P/CAP.GIRO                   -0.9900
P/EBIT                       -4.6875
P/EBITDA                      0.5075
P/L                           8.2200
P/RECEITA (PSR)               1.0350
P/VP                          0.9350
PASSIVOS / ATIVOS             0.8025
PATRIMÔNIO / ATIVOS           0.0975
PAYOUT                       73.1400
ROA                           1.1925
ROE                          12.0500
ROIC                          9.3050
VPA                          19.2075
Name: abcb4, dtype: float64

In [209]:
# tratando nulos como 0
pivot_df = pivot_df.fillna(0)

In [210]:
pivot_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 510 entries, aalr3 to zamp3
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CAGR LUCROS 5 ANOS         510 non-null    float64
 1   CAGR RECEITAS 5 ANOS       510 non-null    float64
 2   DIVIDEND YIELD (DY)        510 non-null    float64
 3   DÍVIDA BRUTA / PATRIMÔNIO  510 non-null    float64
 4   DÍVIDA LÍQUIDA / EBIT      510 non-null    float64
 5   DÍVIDA LÍQUIDA / EBITDA    510 non-null    float64
 6   EV/EBIT                    510 non-null    float64
 7   EV/EBITDA                  510 non-null    float64
 8   GIRO ATIVOS                510 non-null    float64
 9   LIQUIDEZ CORRENTE          510 non-null    float64
 10  LPA                        510 non-null    float64
 11  MARGEM BRUTA               510 non-null    float64
 12  MARGEM EBIT                510 non-null    float64
 13  MARGEM EBITDA              510 non-null    float64
 14  MARGEM LÍQUIDA             510 non-null    float64
 15  P/ATIVO                    510 non-null    float64
 16  P/ATIVO CIRC LIQ           510 non-null    float64
 17  P/CAP.GIRO                 510 non-null    float64
 18  P/EBIT                     510 non-null    float64
 19  P/EBITDA                   510 non-null    float64
 20  P/L                        510 non-null    float64
 21  P/RECEITA (PSR)            510 non-null    float64
 22  P/VP                       510 non-null    float64
 23  PASSIVOS / ATIVOS          510 non-null    float64
 24  PATRIMÔNIO / ATIVOS        510 non-null    float64
 25  PAYOUT                     510 non-null    float64
 26  ROA                        510 non-null    float64
 27  ROE                        510 non-null    float64
 28  ROIC                       510 non-null    float64
 29  VPA                        510 non-null    float64
dtypes: float64(30)
memory usage: 139.7+ KB

In [212]:
# Crie uma série que mapeia cada ação ao seu valor 'ROIC' correspondente do ano 'Atual'
roic_atual = investidor10_acoes[(investidor10_acoes['indicadores'] == 'ROIC')].set_index('acao')['Atual']

# Adicione a série como uma nova coluna ao DataFrame pivotado
pivot_df['ROIC_Atual'] = pivot_df.index.map(roic_atual.to_dict())

In [215]:
# Crie uma série que mapeia cada ação ao seu valor 'ROIC' correspondente do ano 'Atual'
roic_atual = investidor10_acoes[(investidor10_acoes['indicadores'] == 'ROIC')].set_index('acao')['2023']

# Adicione a série como uma nova coluna ao DataFrame pivotado
pivot_df['ROIC_2023'] = pivot_df.index.map(roic_atual.to_dict())

In [216]:
pivot_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 510 entries, aalr3 to zamp3
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CAGR LUCROS 5 ANOS         510 non-null    float64
 1   CAGR RECEITAS 5 ANOS       510 non-null    float64
 2   DIVIDEND YIELD (DY)        510 non-null    float64
 3   DÍVIDA BRUTA / PATRIMÔNIO  510 non-null    float64
 4   DÍVIDA LÍQUIDA / EBIT      510 non-null    float64
 5   DÍVIDA LÍQUIDA / EBITDA    510 non-null    float64
 6   EV/EBIT                    510 non-null    float64
 7   EV/EBITDA                  510 non-null    float64
 8   GIRO ATIVOS                510 non-null    float64
 9   LIQUIDEZ CORRENTE          510 non-null    float64
 10  LPA                        510 non-null    float64
 11  MARGEM BRUTA               510 non-null    float64
 12  MARGEM EBIT                510 non-null    float64
 13  MARGEM EBITDA              510 non-null    float64
 14  MARGEM LÍQUIDA             510 non-null    float64
 15  P/ATIVO                    510 non-null    float64
 16  P/ATIVO CIRC LIQ           510 non-null    float64
 17  P/CAP.GIRO                 510 non-null    float64
 18  P/EBIT                     510 non-null    float64
 19  P/EBITDA                   510 non-null    float64
 20  P/L                        510 non-null    float64
 21  P/RECEITA (PSR)            510 non-null    float64
 22  P/VP                       510 non-null    float64
 23  PASSIVOS / ATIVOS          510 non-null    float64
 24  PATRIMÔNIO / ATIVOS        510 non-null    float64
 25  PAYOUT                     510 non-null    float64
 26  ROA                        510 non-null    float64
 27  ROE                        510 non-null    float64
 28  ROIC                       510 non-null    float64
 29  VPA                        510 non-null    float64
 30  ROIC_Atual                 510 non-null    float64
 31  ROIC_2023                  510 non-null    float64
dtypes: float64(32)
memory usage: 147.6+ KB

In [214]:
pivot_df.head()

indicadores,CAGR LUCROS 5 ANOS,CAGR RECEITAS 5 ANOS,DIVIDEND YIELD (DY),DÍVIDA BRUTA / PATRIMÔNIO,DÍVIDA LÍQUIDA / EBIT,DÍVIDA LÍQUIDA / EBITDA,EV/EBIT,EV/EBITDA,GIRO ATIVOS,LIQUIDEZ CORRENTE,...,P/RECEITA (PSR),P/VP,PASSIVOS / ATIVOS,PATRIMÔNIO / ATIVOS,PAYOUT,ROA,ROE,ROIC,VPA,ROIC_Atual
acao,,,,,,,,,,,,,,,,,,,,,
aalr3,-10.3475,0.9350,0.3150,0.7250,-19.0675,5.085,-66.1725,20.2525,0.4200,0.8375,...,1.8325,1.7450,0.5550,0.4550,3.4000,-2.4550,-7.3575,1.8525,9.7175,1.01
abcb4,6.8750,16.8850,5.3350,0.0000,0.0000,0.000,-4.6875,0.5075,0.0975,2.6225,...,1.0350,0.9350,0.8025,0.0975,73.1400,1.1925,12.0500,9.3050,19.2075,14.66
abev3,2.9425,7.9425,3.7325,0.0500,-0.7425,-0.545,14.5250,10.4775,0.5250,1.0200,...,4.0025,3.4675,0.3950,0.5950,72.6300,10.4025,16.9025,20.1675,4.7575,22.52
aeri3,0.0000,0.0000,0.4575,1.7125,2.8175,2.430,30.7250,26.9225,0.8575,1.9275,...,2.4825,5.9300,0.7050,0.2950,-6.9350,3.9050,14.7750,11.6650,0.6075,8.80
aesb3,0.0000,0.0000,0.8000,1.1025,8.0025,3.445,16.2550,6.4625,0.0900,0.9725,...,1.1725,0.8475,0.3425,0.1250,18.2025,1.5125,4.4950,0.1825,3.1625,6.04

In [217]:
pivot_df.to_csv('Mov_Avg_2019_2022.csv')

In [218]:
pivot_df.head()

indicadores,CAGR LUCROS 5 ANOS,CAGR RECEITAS 5 ANOS,DIVIDEND YIELD (DY),DÍVIDA BRUTA / PATRIMÔNIO,DÍVIDA LÍQUIDA / EBIT,DÍVIDA LÍQUIDA / EBITDA,EV/EBIT,EV/EBITDA,GIRO ATIVOS,LIQUIDEZ CORRENTE,...,P/VP,PASSIVOS / ATIVOS,PATRIMÔNIO / ATIVOS,PAYOUT,ROA,ROE,ROIC,VPA,ROIC_Atual,ROIC_2023
acao,,,,,,,,,,,,,,,,,,,,,
aalr3,-10.3475,0.9350,0.3150,0.7250,-19.0675,5.085,-66.1725,20.2525,0.4200,0.8375,...,1.7450,0.5550,0.4550,3.4000,-2.4550,-7.3575,1.8525,9.7175,1.01,1.01
abcb4,6.8750,16.8850,5.3350,0.0000,0.0000,0.000,-4.6875,0.5075,0.0975,2.6225,...,0.9350,0.8025,0.0975,73.1400,1.1925,12.0500,9.3050,19.2075,14.66,14.66
abev3,2.9425,7.9425,3.7325,0.0500,-0.7425,-0.545,14.5250,10.4775,0.5250,1.0200,...,3.4675,0.3950,0.5950,72.6300,10.4025,16.9025,20.1675,4.7575,22.52,22.52
aeri3,0.0000,0.0000,0.4575,1.7125,2.8175,2.430,30.7250,26.9225,0.8575,1.9275,...,5.9300,0.7050,0.2950,-6.9350,3.9050,14.7750,11.6650,0.6075,8.80,8.80
aesb3,0.0000,0.0000,0.8000,1.1025,8.0025,3.445,16.2550,6.4625,0.0900,0.9725,...,0.8475,0.3425,0.1250,18.2025,1.5125,4.4950,0.1825,3.1625,6.04,6.04